body{
  font-family: 'Noto Sans', sans-serif;
}

#header-container{
  background-color: #5d9105;
  color: white;
  font-style: medium;
}

#login{
  color: white;
}


#header-container .navbar-toggler{
  color: white;
}

.nav-link {
	color: #D5D5D7;
}

.nav-link:hover {
	color: #464a4c;
}

#menu-container {
  background-color: #f7f7f9;
}

.btn.btn-compumundo{
  background-color: #5d9105;
  color: white;
}

.btn.btn-compumundo:hover{
  background-color: #406403;
}

input.form-control:focus {
  border-color: #406403;
}

#productosCarousel{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+26,000000+47,000000+58,000000+58,000000+65,000000+65,000000+67,000000+71&0+47,0.65+100 */
  background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 26%, rgba(0,0,0,0) 47%, rgba(0,0,0,0.13) 58%, rgba(0,0,0,0.22) 65%, rgba(0,0,0,0.24) 67%, rgba(0,0,0,0.29) 71%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 26%,rgba(0,0,0,0) 47%,rgba(0,0,0,0.13) 58%,rgba(0,0,0,0.22) 65%,rgba(0,0,0,0.24) 67%,rgba(0,0,0,0.29) 71%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(0,0,0,0) 26%,rgba(0,0,0,0) 47%,rgba(0,0,0,0.13) 58%,rgba(0,0,0,0.22) 65%,rgba(0,0,0,0.24) 67%,rgba(0,0,0,0.29) 71%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#productosCarousel img{
  margin: 0 auto;
}
#info-container{
  background-color: #5d9105;
  color: white;
  font-style: medium;
}

#info-container h4 {
  margin: 1em 0; 
}

#info-container img {
  margin: 0 auto;
  margin-top: 2em;
}

#footer-container{
  background-color: #1c3643;
  color: white;
  padding: 3em 0;
}

#footer-container h4 {
  font-size: 16px;
}

#footer-container nav-link {
  color: white;
}

@media (max-width: 768px){
  #footer-container [class*="col-"]{
    margin-bottom: 2em;
  }
}

#breadcrumbs-container .breadcrumb {
  padding-left: 1;
}

#breadcrumbs-container .breadcrumb .breadcrumb-item{
  color: #1c3643;
}

#breadcrumbs-container .breadcrumb .breadcrumb-item .active{
  color: #95a5a6;
}

#breadcrumbs-container .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
  content: ">";
}

#filtros-container .list-group-item-action.active {
  background-color: #5d9105;
  border-color: #5d9105;
}

#filtros-container .list-group {
  margin-bottom: 1em;
}

#productos-container {
  margin-bottom: 2em;
}


/*Dispositivos muy pequeños*/
@media (max-width: 768px){
  .listado-productos {
    margin-top: 1em;
  }

  .listado-productos .card-img-top {
    width: 100%;
  }
}

.listado-productos{
  margin-top: 0.5em;
}

/*-----Login----------*/

.login-container{
  margin-top: 2em;
  margin-bottom: 13em;
  font-family: 'Noto Sans', sans-serif;
}

#loginForm{
  margin-top: 2em;
}

@media (max-width: 768px){
  #login-front {
    text-align: center;
  }
  .login-container{
    margin-bottom: 2em;
  }
}

/*-----Login----------*/

#icon-car{
  font-size: 1.6em;
  margin-top: 0.2em;
}

/*-----Create Users----------*/

.user-container-create{
  font-family: 'Noto Sans', sans-serif;
  margin-top: 2em;
  margin-bottom: 2em;
}

#formUsers{
  margin-top: 2em;
}

.input-user{
  border-color: #808080;
  margin-top: 1em;
  margin-bottom: 1em;
}

#table-user{
  margin-top: 1em;
  margin-bottom: 1em;
}

#crarUsuario{
  margin-bottom: 2em;
}
/*-----Create Users----------*/


/*-----Pagination----------*/

.pagination {
  display: inline-flex;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination .active {
  background-color: #5d9105;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination .disabled span{
  padding: 8px 16px;
}
/*-----Pagination----------*/

/*-----CreateProduct----------*/
#productCreate{
  margin-bottom: 1em;
  margin-top: 0.5em;
}


#categoryCreate{
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.categories-container-create{
  margin-bottom: 2em;
}

/* #btn-product{
  margin-right: 2em;
} */